<?xml version="1.0"?>
<launch>
  <arg name="output" default="screen"/>
  <arg name="respawn" default="false"/>
  <arg name="launch-prefix" default=""/>

  <arg name="verbose" default="true"/>
  <arg name="robot_pkg_base" default="~/openrobots"/>

  <node name="oro_knowledge_base"
        pkg="uwds3" type="oro_knowledge_base_node.py"
        respawn="$(arg respawn)"
        output="$(arg output)"
        launch-prefix="$(arg launch-prefix)">
    <rosparam subst_value="true">
      robot_pkg_base: $(arg robot_pkg_base)
      verbose : $(arg verbose)
    </rosparam>
  </node>

  </launch>
